$link-color: $blue-100;

// Normal words
.highlight .n {
    color: #4f4f4f !important;
}

// Keywords
.highlight .kt { 
    color: #0003ff !important; 
}
.highlight .k { 
    color: #3b3dff !important;
}

// String
.highlight .s { 
    color: #bf3939 !important;
}

// Literal
.highlight .m {
    color: #000 !important;
}

// Comment
.highlight .c1 { 
    color: #2aa131 !important;
}

.deprecated {
    text-align: center;
    background-color: #f7d12e !important;
    color: #44434d !important;
    padding: 10px !important;
    margin-top: 25px;
    margin-bottom: 50px;
}

.note {
    background-color: #ffeea0 !important;
    color: #44434d !important;
    padding: 10px !important;
    font-size: 12px;
}